/*
==========================================================================================
    Nextflow config file for HPC at CDC
==========================================================================================
    This is a configuration file to run Nextflow pipeline on CDC's Sun Grid Engine, and is 
    configured to optimally schedule jobs to various queues and handles resource limits, 
    which in turn prevents many scheduling errors. This config also sets necessary parameters 
    for Conda and Singularity, and disables Docker. Note that temporary and cache directories 
    are defined below, and you should change them if necessary. This config file should be 
    passed to the Nextflow run command using -C, which will overwrite default configs.
----------------------------------------------------------------------------------------
version 1.0.0
*/

/*
==========================================================================================
    Default institutional and max resource paramters - subject to overwrite.
==========================================================================================
*/

params {
  config_profile_description = 'HPC @ CDC'
  config_profile_contact = 'OAMD'
  config_profile_url = 'https://info.biotech.cdc.gov/info/'
  custom_config_version = 'master'

  // Default resource parameters. Expecting to be overwritten.
  memory                 = '128.GB'
  cpus                   = 16
  time                   = '240.h'
}

/*
==========================================================================================
    CDC Local, Rosalind, Conda, and Singularity sge profiles
==========================================================================================
*/

profiles {
  singularity {
    // Enable Singularity features.
    singularity.enabled    = true
    singularity.autoMounts = true

    // Disable other container software.
    docker.enabled         = false
    conda.enabled          = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    
    // Prevents mounting errors in Singularity container creation caused by bad TMPDIR creation.
    process {
        scratch = false
    }
  }
  conda {
    // Enable Conda features.
    conda.enabled = true
    conda.useMamba = true
    
    // Prevents timeout errors. Increase as needed.
    conda.createTimeout    = "120 min"

    // Disable other container software
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false

    // Prevents Conda create/activate environment errors.
    process {
      beforeScript = 'source /etc/profile'
      module = ['miniconda3/20230728']
    }
  }
  local {
    executor {
      name = 'local'
      queueSize = 6
    }
    process {
      executor = 'local'
      memory = '16.GB'
      cpus = 6
      time = '24.h'
    }
  }
  gpu {
    executor {
      name = 'sge'
      queueSize = 5
      pollInterval = '10sec'
      submitRateLimit = '2sec'
    }
    process {
      executor = 'sge'
      queue = 'gpu.q'
      clusterOptions = { "-l gpu=1" }
    }
  }
  scicomp_rosalind {
    executor {
      name = 'sge'
      queueSize = 12
      pollInterval = '10sec'
      submitRateLimit = '2sec'
    }
    process {
      // Executor information
      executor = 'sge'
      penv = 'smp'
      queue = { task.time <= 4.h ? 'short.q' : task.time > 3.day ? 'long.q' : 'all.q' }

      // Disable docker by default
      docker.enabled = false

      // Default resources - expected to be overwritten
      memory = '32.GB'
      cpus = 4
      time = '72.h'

      // Set h_vmem option for qsub submissions. +20 memory to h_vmem prevents memory allocation errors.
      clusterOptions = { "-l h_vmem=${(task.memory.toGiga() + 20).toString()}G" }
    }
  }
  training {
    executor {
      name = 'sge'
      queueSize = 12
      pollInterval = '10sec'
      submitRateLimit = '2sec'
    }
    process {
      // Executor information
      executor = 'sge'
      penv = 'smp'
      queue = 'testing.q'

      // Disable docker by default
      docker.enabled = false

      // Default resources - expected to be overwritten
      memory = '24.GB'
      cpus = 4
      time = '8.h'

      // Set h_vmem option for qsub submissions. +20 memory to h_vmem prevents memory allocation errors.
      clusterOptions = { "-l h_vmem=${((task.memory.toGiga())+20).toString().replaceAll(/[\sB]/,'')}G" }
    }
  }
  debug {
    // Set generic debug settings
    dumpHashes = true
    cleanup = false
    nextflow.enable.configProcessNamesValidation = true

    process {
      // Enable tracing for shell processes
      shell = ['/bin/bash', '-x']
      // Print hostname for debugging
      beforeScript = 'echo $HOSTNAME'
    }

    env {
      // Enable most verbose tracing
      NXF_DEBUG = '3'
    }

    // Error handling - increases resources on each retry.
    errorStrategy = { task.exitStatus in [143,137,104,134,139,140,71,255] ? 'retry' : 'ignore' }
    maxRetries    = 3
    maxErrors     = '-1'

  }
}


