/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/aquascope -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input  = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    fasta       = "${projectDir}/assets/references/wuhan.fa"
    fai         = "${projectDir}/assets/references/wuhan.fai"
    gff         = "${projectDir}/assets/references/wuhan.GFF3"
    bedfile     = "${projectDir}/assets/ARTICv4_1.bed"
}
