/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CDCgov/aquascope -profile test_illumina,<docker/singularity>,scicomp_rosalind (usage of the profile is for only CDC-users)

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Long read profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h'
    ]

    // Input data
    input  = "${projectDir}/assets/samplesheet_test_ont.csv"

    // Genome references
    fasta       = "${projectDir}/assets/references/SARS-CoV-2.reference.fasta"
    gff         = "${projectDir}/assets/references/SARS-CoV-2.reference.gff"
    gff3        = "${projectDir}/assests/references/SARS-CoV-2.reference.gff3"	
}
